body {
    margin: 0;
    background-color: rgb(107, 56, 56);
}

#locations {
    position: relative;
    background-image: url("../data-pictures/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 600px;
    left: 100px;
    bottom: 25px;
    
}

.location {
    position: absolute;
    color: rgb(238, 154, 18);
    font-weight: bold;
    background-color: rgb(8, 82, 63);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.survivor {
    border: 2px solid brown;
    background: burlywood;
    padding: 8px;
}

h3 {
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    color: goldenrod;
    font-size: 25px;
    left: 102px;
}