body {
    background-color: burlywood;
}

main {
    text-align: center;
}

.survivor {
    text-align: end;
    background: burlywood;
    padding: 8px;
    position: fixed;
    right: 10px;
    
}

.hidden {
    display: none;
}

img {
    height: 400px;
    width: 650px;
}

#choices {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: black;
    border: 1px solid red;
    padding: 1px;
}