body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../data-pictures/city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 657px;
    background-color: rgba(243, 195, 131, 0.568);

}

legend {
    font-weight: bold;
    padding: 5px;
}

h3 {
    border: 3px solid rgb(109, 9, 9);
    text-decoration: underline;
    background-color: rgba(243, 195, 131, 0.568);
}

p {
    text-align: center;
}

button {
    position: absolute;
    left: 560px;
}

div {
    text-decoration: underline;
}

.label {
    text-decoration: underline;
}

main {
    background-color: rgba(243, 195, 131, 0.568);
}